
# Playwright
node_modules/
/test-results/
/playwright-report/
/allure-report/
/allure-results/
/blob-report/
/playwright/.cache/


.env**
!**/.env-cmdrc.json
ecommerce-automation/.auth/user.json
playwright/.auth/user.json
playwright/.auth/user.json
playwright/.auth/user.json
